*{
    /*Remove margen padrão*/
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #081122;
    padding: 5px;
    /*Largura 100% da tela*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    /*Direcionamento do flex*/
    flex-direction: column;
}

html, body {
    /*Altura*/
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*Altura mínima do wrapper para 100% da tela*/
    min-height: 100vh;
}

.navegacao ul{
    /*Remover estilo da lista*/
    list-style: none;
    display: flex;
    /*Espaço entre os itens*/
    justify-content: space-around;
}

.navegacao li{
    /*Margin horizontal Li*/
    margin: 0 50px;
    /*Negrito*/
    font-weight: bold;
}

.navegacao a{
    /*Remover sublinhados dos links*/
    text-decoration: none;
    color: #e4961a;
    font-size: 25px;
    
}
/*Efeito hover*/
.navegacao a:hover{
    color: darkgoldenrod;
}

.logo img{
    height: 130px;
    
}

/*Menu dropdown*/
.dropdown-menu{
    position: absolute;
    /*Sombra no dropdown*/
    box-shadow: 0 0 2px #081122;
    /*Pra não exibir por padrão (Esconder)*/
    display: none;
}

.dropdown-menu a{
    display: block;
    font-size: 18px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: #081122;
}

section {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #081122;
    color: #e4961a;
    text-align: center;
    padding: 10px 0;
    position: relative;
    /*Largura rodapé*/
    width: 100%;
}

main {
    /*largura máxima */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*Largura Máxima do main*/
    max-width: 1200px;
    /*Cetralizar o main horizontalmente e coloca margem superior e inferior*/
    margin: 20px auto;
    /*Padding interno*/
    padding: 0 20px;
    /*Empurrar o footer para final da página*/
    flex: 1;
}

.noticias-section, .reviews-section {
    /*largura*/
    width: 48%;
    /*Padding e borda na largura e altura*/
    box-sizing: border-box;
    /*Margem inferior*/
    margin-bottom: 20px;
}

section{
    width: 48%;
}

h2{
    color: #081122;
    margin-bottom: 20px;
    font-size: 24px;
}

article{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img{
    /*Largura*/
    width: 350px;
    /*Altura*/
    height: 250px;
    /*Cobrir a área sem distorcer*/
    object-fit: cover;
    margin-right: 10px;
    border-radius: 20px;
}

.noticias-conteudo, .review-conteudo{
    display: flex;
    /*Direção Coluna*/
    flex-direction: column;
}

.categoria{
    color: #af52bf;
    font-weight: bold;
    margin-bottom: 5px;
}

.noticias-conteudo h3, .review-conteudo h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.review-conteudo .nota {
    background-color: #e4961a;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.noticias-conteudo .nota{
    background-color: #af52bf;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

/*Formulário*/

.formulario{
    margin-left: 500px;
    width: 100%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-contato{
    color: #081122;
    margin-bottom: 20px;
    font-size: 24px;

}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px 15px;
    background-color: #e4961a;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: darkgoldenrod;
}

.texto-placeholder{
    font-weight: bold;
}

.texto-contato{
    text-align: left;
}