*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #081122;
    padding: 5px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navegacao li{
    margin: 0 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.navegacao a{
    text-decoration: none;
    color: #e4961a;
    font-size: 25px;
    
}
/*Efeito hover*/
.navegacao a:hover{
    color: darkgoldenrod;
}

.logo img{
    height: 130px;
    
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px #081122;
    /*Pra não exibir por padrão*/
    display: none;
}

.dropdown-menu a{
    display: block;
    font-size: 18px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: #081122;
}

section {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #081122;
    color: #e4961a;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
/*Header Fixo*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

/*abaixar um pouco o main*/
main{
    padding-top: 150px;
}

.textos-main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.textos-main h1 {
    color: #081122;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.textos-main .descricao {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.textos-main h3 {
    color: #af52bf;
    font-size: 18px;
    margin-bottom: 5px;
}

.textos-main .data {
    font-size: 14px;
    color: #999;
}

/*Setar largura*/
img{
    margin-top: 15px;
    width: 100%;
}

.legenda-imagem{
    font-size: 15px;
    color: #555;
}

.texto-conteudo{
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.comeco_ranking{
    margin-top: 40px;
}